In [9]:
import numpy as np
import pandas as pd

In [10]:
wine_df = pd.read_csv('data/winemag-data-130k-v2.csv', header = 'infer', sep = ',', index_col = 0 )
#since data already came with an index, use index_col = 0 to identify first column as index

In [11]:
#get visual of what the data looks like
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [15]:
wine_df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [16]:
#identify how many columns have null objects
wine_df.info()
#description has no null
#points has no null
#title has no null

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

In [61]:
wine_df[['country','designation', 'points', 'title']].tail()

,country,designation,points,title
129966,Germany,Brauneberger Juffer-Sonnenuhr Spätlese,90,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
129967,US,NaN,90,Citation 2004 Pinot Noir (Oregon)
129968,France,Kritt,90,Domaine Gresser 2013 Kritt Gewurztraminer (Als...
129969,France,NaN,90,Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
129970,France,Lieu-dit Harth Cuvée Caroline,90,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

In [110]:
per_country_data = (wine_df['country'].value_counts())
per_country_data

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Egypt                         1
Slovakia                      1
China                         1
Name: country, dtype: int64

In [36]:
US_wine = wine_df['country']=='US'
wine_df[US_wine][['designation','title']].head()
#viewing data from US is more likely to alert me to the differences between designmation and title.
#designation is missing 37465 values which is almost 30% of the data and looks like the title give similar information

,designation,title
2,NaN,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,Reserve Late Harvest,St. Julian 2013 Reserve Late Harvest Riesling ...
4,Vintner's Reserve Wild Child Block,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
10,Mountain Cuvée,Kirkland Signature 2011 Mountain Cuvée Caberne...
12,NaN,Louis M. Martini 2012 Cabernet Sauvignon (Alex...

In [44]:
wine_df['title'].unique()[:10]
#we have 118840 unique titles and should investigate differences between them and the designation
#next we look at duplicate titles to find which have info to share about designation

array(['Nicosia 2013 Vulkà Bianco  (Etna)',
       'Quinta dos Avidagos 2011 Avidagos Red (Douro)',
       'Rainstorm 2013 Pinot Gris (Willamette Valley)',
       'St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)',
       "Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley)",
       'Tandem 2011 Ars In Vitro Tempranillo-Merlot (Navarra)',
       'Terre di Giurfo 2013 Belsito Frappato (Vittoria)',
       'Trimbach 2012 Gewurztraminer (Alsace)',
       'Heinz Eifel 2013 Shine Gewürztraminer (Rheinhessen)',
       'Jean-Baptiste Adam 2012 Les Natures Pinot Gris (Alsace)'],
      dtype=object)

In [51]:
len(wine_df[wine_df['title'].duplicated()]['title'].value_counts())
#10736 titles are duplicated and the maximum duplications are 10. many are just duplicated once

10736

In [52]:
wine_df[wine_df['title'].duplicated()]['title'].value_counts()

Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma County)                        10
Korbel NV Brut Sparkling (California)                                          8
Segura Viudas NV Extra Dry Sparkling (Cava)                                    7
Ruinart NV Brut Rosé  (Champagne)                                              6
Segura Viudas NV Aria Estate Extra Dry Sparkling (Cava)                        6
                                                                              ..
V. Sattui 2009 Mounts Vineyard Zinfandel (Dry Creek Valley)                    1
Santi 2011  Amarone della Valpolicella Classico                                1
Grey Wolf Cellars 2013 Instinctual Grenache (Paso Robles)                      1
McIntyre Vineyards 2011 Estate Block K1 Chardonnay (Santa Lucia Highlands)     1
Statti 2014 Gaglioppo (Calabria)                                               1
Name: title, Length: 10736, dtype: int64

In [54]:
wine_df[wine_df['title']=='Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma County)']
wine_df[wine_df['title']=='Korbel NV Brut Sparkling (California)']
wine_df[wine_df['title']=='Segura Viudas NV Extra Dry Sparkling (Cava)']
#our main repeated title has the same information provided but differs in point value, price, description and taster info
#grouping our data based on title and finding the median of the repeated points and price would be sufficient and would allow some nan values to be fixed
#median would be best to avoid any possible outliers who scored the wine extremely high or low and will give at minimum a float value that is terminating

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
3209,US,"Creamy, lush and somewhat robust, this dry spa...",Sonoma Brut,90,22.0,California,Sonoma County,Sonoma,Virginie Boone,@vboone,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Sparkling Blend,Gloria Ferrer

In [ ]:
#Designation will be droped in lue of title since designation is repeated in the title column
#I will drop all data pertaining to taster name since I am not asking question about indiviual preferences with my exploration of the data

In [73]:
#We are missing only one variety...lets see why (is this title repeated?)
wine_df[wine_df['variety'].isnull()]
wine_df[wine_df['title'] == 'Carmen 1999  (Maipo Valley)']
#This is not repeated and variety can be found quickly to be a Cabernet Sauvignon and will be added here

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
86909,Chile,"A chalky, dusty mouthfeel nicely balances this...",NaN,88,17.0,Maipo Valley,NaN,NaN,NaN,NaN,Carmen 1999 (Maipo Valley),NaN,Carmen

In [72]:
#see how each variety is stored
wine_df['variety'].value_counts()

Pinot Noir                  13272
Chardonnay                  11753
Cabernet Sauvignon           9472
Red Blend                    8946
Bordeaux-style Red Blend     6915
                            ...
Schwartzriesling                1
Blauburgunder                   1
Ryzlink Rýnský                  1
Vidadillo                       1
Merlot-Petite Verdot            1
Name: variety, Length: 707, dtype: int64

In [91]:
wine_df.loc[86909,'variety'] = 'Cabernet Sauvignon'
wine_df.loc[86909]

country                                                              Chile
description              A chalky, dusty mouthfeel nicely balances this...
designation                                                            NaN
points                                                                  88
price                                                                   17
province                                                      Maipo Valley
region_1                                                               NaN
region_2                                                               NaN
taster_name                                                            NaN
taster_twitter_handle                                                  NaN
title                                          Carmen 1999  (Maipo Valley)
variety                                                 Cabernet Sauvignon
winery                                                              Carmen
Name: 86909, dtype: object

In [92]:
#now we have one more column with no null values
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129971 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 18.9+ MB

In [96]:
#Now lets investigate any null country values
missing_countries = wine_df[wine_df['country'].isnull()]
#all missing countries have a winery available likely we can determine these countries if they are dispersed winerys

In [103]:
missing_countries['winery'].value_counts()
#Austrian "Neumeister"
#Bulgaria Orbelus

Neumeister                         9
Orbelus                            7
Gotsa Family Wines                 4
Psagot                             4
Stone Castle                       4
Ross-idi                           4
St. Donat                          3
El Capricho                        3
Tsililis                           3
Ktima Voyatzi                      2
Barton & Guestier                  2
Les Frères Dutruy                  2
Mt. Beautiful                      2
Kakhetia Traditional Winemaking    1
Santa Ema                          1
Bachelder                          1
Teliani Valley                     1
Lismore                            1
Logodaj                            1
Somlói Vándor                      1
Newton Johnson                     1
Familia Deicas                     1
Undurraga                          1
Bartho Eksteen                     1
Chilcas                            1
Amiran Vepkhvadze                  1
Büyülübağ                          1
Name: winery, dtype: int64

In [121]:
wine_df[wine_df['country'] == 'Bulgaria'].info()
#we have 141 rows already so I think we can drop the nine missing values the null values is 9 of total values given
#we have 3345 Austrian wines as well
#we have 86 Georgia rows which has 7 null values
#Dropping these 63 rows will not have a significant impact on the determination thus will be dropped

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 6970 to 129591
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                141 non-null    object
 1   description            141 non-null    object
 2   designation            93 non-null     object
 3   points                 141 non-null    int64
 4   price                  141 non-null    float64
 5   province               141 non-null    object
 6   region_1               0 non-null      object
 7   region_2               0 non-null      object
 8   taster_name            141 non-null    object
 9   taster_twitter_handle  122 non-null    object
 10  title                  141 non-null    object
 11  variety                141 non-null    object
 12  winery                 141 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 15.4+ KB

In [ ]:
#Description will be dropped, it is not needed for the analysis I plan on doing since they are each unique.

In [111]:
#Finally lets look at available region information
region_info = wine_df.groupby('country').count()

In [109]:
region_info['region_1']
#for 64 countries only seven of them have information on the winery region.
#I will leave this column and it's null values to see if further information could be gained 
#by looking deeper into an indvidual country

country
Argentina                  3747
Armenia                       0
Australia                  2327
Austria                       0
Bosnia and Herzegovina        0
Brazil                        0
Bulgaria                      0
Canada                      257
Chile                         0
China                         0
Croatia                       0
Cyprus                        0
Czech Republic                0
Egypt                         0
England                       0
France                    22017
Georgia                       0
Germany                       0
Greece                        0
Hungary                       0
India                         0
Israel                        0
Italy                     19513
Lebanon                       0
Luxembourg                    0
Macedonia                     0
Mexico                        0
Moldova                       0
Morocco                       0
New Zealand                   0
Peru                          0
Portugal                      0
Romania                       0
Serbia                        0
Slovakia                      0
Slovenia                      0
South Africa                  0
Spain                      6637
Switzerland                   0
Turkey                        0
US                        54226
Ukraine                       0
Uruguay                       0
Name: region_1, dtype: int64

In [117]:
province_info = region_info['province']
wine_df['province'].head()

0    Sicily & Sardinia
1                Douro
2               Oregon
3             Michigan
4               Oregon
Name: province, dtype: object

In [118]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129971 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 18.9+ MB

## Final Data Frame actualized

In [137]:
drop_missing_countries = wine_df[wine_df['country'].notna()]
clean_wine_df = drop_missing_countries[['country', 'points', 'price', 'province', 'region_1', 'title', 'variety', 'winery']]

In [143]:
clean_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129908 entries, 0 to 129970
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   129908 non-null  object
 1   points    129908 non-null  int64
 2   price     120916 non-null  float64
 3   province  129908 non-null  object
 4   region_1  108724 non-null  object
 5   title     129908 non-null  object
 6   variety   129908 non-null  object
 7   winery    129908 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 13.9+ MB